@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 99vw;
}

body {
    background-image: url('../assets/bgf1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    z-index: -1;
}

#welcome {
    display: block;
    position: relative;
    top: 0.4vh;
    left: 0.1vw;
    padding: 4px;
    text-align: center;
    color: rgb(11, 5, 5);
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(89, 201, 126);
    border-radius: 12px;
    box-shadow: -2px -2px aquamarine;
}

#menu ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 61vh;
    left: 51vw;
    justify-content: center;
    align-items: center;
}

#menu ul li {
    list-style: none;
    padding: 3px;
}

#menu ul li a {
    text-decoration: none;
    font-size: 3.1rem;
    color: rgb(152, 71, 71);
    font-family: 'Berkshire Swash', cursive;
}

#menu ul li a:hover {
    color: rgb(102, 25, 133);
    cursor: pointer;
}